DB_URL=jdbc:mysql://localhost:3306/bilheteria_digital?createDatabaseIfNotExist=true&serverTimezone=America/Bahia
DB_USERNAME=bilheteria_user
DB_PASSWORD=102030

JWT_SECRET=troque-por-uma-chave-com-pelo-menos-32-caracteres
JWT_EXPIRATION_HOURS=24
APP_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

TMDB_ACCESS_TOKEN=seu_token_tmdb
TICKETMASTER_API_KEY=sua_chave_ticketmaster
TICKETMASTER_COUNTRY_CODE=BR

STRIPE_SECRET_KEY=sk_test_sua_chave_secreta
STRIPE_WEBHOOK_SECRET=whsec_seu_webhook_secret
